.motionMenu {
  display: flex;
  flex-direction: column;

  gap: 45px;

  height: 100vh;
  max-height: 100vh;
  width: 200px;

  padding: 0 0 0 18px;
  padding-top: 90px;
  padding-bottom: 20px;

  font-family: "Open Sans", sans-serif;
  line-height: 0.9;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2em;

  list-style-type: none;
  transition: background-color 600ms linear, color 400ms linear;

  overflow-y: auto;

  @media screen and (min-width: 640px) {
    font-size: 13px;
  }

  @media screen and (min-width: 1024px) {
    max-height: 1000px;
    width: 320px;

    padding-left: 40px;

    font-size: 18px;
  }
}
