.section {
  padding: 90px 0px;

  @media screen and (min-width: 1024px) {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.store {
  margin-bottom: 70px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.17;
}
