.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.95);

  z-index: 15;

  transition: opacity 200ms linear;
  opacity: 0;
  pointer-events: none;
}

.backdropActive {
  opacity: 1;
  pointer-events: all;
}

.window {
  position: relative;

  width: 90%;
  height: 78%;
  padding: 20px;

  font-family: "Roboto", sans-serif;

  line-height: 1.3;

  color: #fff;
  border-radius: 31px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 1%,
    rgba(255, 255, 255, 0.28) 100%
  );
  text-align: justify;

  transform: translate(-50%, -50%);
  transition: transform 200ms linear;
  transform: scale(1.1);

  z-index: 5;

  @media screen and (min-width: 768px) {
    padding: 50px;
    height: 80%;
  }
}

.windowActive {
  transform: scale(1);
}

.button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.title {
  margin-bottom: 20px;

  font-size: 26px;
  font-weight: 400;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    margin-bottom: 70px;

    font-size: 41px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 120px;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.08em;

  color: rgb(255, 246, 246);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.firstDescription {
  margin-top: 10px;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 76px;
  }
}

.copyright {
  position: absolute;
  left: 20px;
  bottom: 20px;

  font-size: 14px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    left: 50px;
    bottom: 40px;

    font-size: 16px;
  }
}

.bottomModal {
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  bottom: 84px;
  right: 93px;
}
