.section {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.wrapper {
  padding: 50px 25px;

  border-bottom: 2px solid #676767;

  @media screen and (min-width: 768px) {
    max-width: 360px;

    padding: 0;

    border: none;
  }
}

.title {
  margin-bottom: 22px;

  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;

  @media screen and (min-width: 1024px) {
    font-size: 28px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

.formWrapper {
  margin: 55px 0;
  padding: 0 25px;

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    width: 400px;
  }

  @media screen and (min-width: 1240px) {
    width: 640px;
  }
}

.field {
  display: block;
  width: 100%;
  height: 40px;

  margin-bottom: 18px;
  padding: 0 10px;

  line-height: 1.7;

  color: #fff;
  background-color: #3119c6;
  border: none;
  border-radius: 4px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  @media screen and (min-width: 1024px) {
    border-bottom: none;
    border-radius: 4px;
  }
}

.subscribeBlock {
  @media screen and (min-width: 1240px) {
    display: flex;
  }
}

.checkboxField {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  @media screen and (min-width: 1240px) {
    margin: 0;
    margin-right: 70px;
  }
}

.checkbox {
  width: 18px;
  height: 18px;

  margin-right: 10px;

  cursor: pointer;

  &::after {
    content: "";
  }

  @media screen and (min-width: 640px) {
    margin-right: 0;
  }
}

.signature {
  font-size: 15px;
  line-height: 1.6;

  cursor: pointer;

  @media screen and (min-width: 640px) {
    padding-left: 22px;
  }
}

.button {
  display: inline-block;
  width: 100%;
  max-width: 400px;

  padding: 10px 20px;

  color: #000;
  background: rgb(240, 240, 240);
  border: none;
  border-radius: 50px;

  cursor: pointer;

  transition: all 150ms linear;

  @media screen and (min-width: 1240px) {
    width: 260px;
  }

  &:hover,
  &:focus {
    background-color: rgb(218, 218, 218);
  }
}
