.videoWrapper {
  position: relative;

  width: 100vw;
  height: 100vh;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
  }
}

.video {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.tempText {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.5);

  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2),
    0 0 40px rgba(255, 255, 255, 0.2), 0 0 50px rgba(255, 255, 255, 0.2),
    0 0 60px rgba(255, 255, 255, 0.2), 0 0 70px rgba(255, 255, 255, 0.2);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  z-index: 1;

  @media screen and (min-width: 768px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 70px;
  }
}

.modalBtn {
  position: absolute;
  left: 20px;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-align: left;

  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50%;

  transition: all 200ms linear;
  cursor: pointer;

  z-index: 30;

  &:hover {
    color: #fff;
    background-color: #000;

    transform: scale(1.05);
  }

  &:focus {
    color: #000;
    background-color: #fff;
    transform: scale(1);
  }

  &:active {
    color: #fff;
    background-color: #000;

    transform: scale(1.05);
  }
}

.closeBtn {
  margin-right: 2px;
  width: 24px;
  height: 24px;
  fill: #000;

  transition: fill 200ms linear, transform 200ms linear;

  transform: rotate(0deg);
  transform-origin: center;

  .modalBtn:hover & {
    fill: #fff;
    transform: rotate(180deg);
  }

  .modalBtn:focus & {
    fill: #000;
  }
}

.accentLetter {
  position: absolute;
  top: 12px;
  left: 6px;
  font-size: 34px;
  font-family: "Roboto", sans-serif;
}

.disclaimer {
  position: absolute;
  top: 40%;
  left: 160px;

  display: inline-block;

  color: #fff;
  letter-spacing: 1.27em;
  text-transform: uppercase;
  font-size: 12px;
  transform: translate(-50%);
  transition: all 200ms linear;

  &::first-letter {
    color: #000;

    .modalBtn:hover & {
      color: #fff;
    }

    .modalBtn:focus & {
      color: #000;
    }

    .modalBtn:active & {
      color: #fff;
    }
  }
}

.disclaimerOpen {
  .modalBtn:hover & {
    color: #fff;
  }
}
