.item {
  display: inline-block;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px 0;

  transition: color 150ms linear;

  &:hover,
  &:focus {
    color: #dad9d9;
  }

  @media screen and (min-width: 1024px) {
    padding: 20px 0;
  }
}
