.nav {
  display: flex;
  padding: 20px 5px;
  justify-content: space-between;
  align-items: center;
}

.navBtnGroup {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;

  @media screen and (min-width: 640px) {
    width: 46px;
    height: 46px;
  }
}

.basket {
  width: 26px;
  height: 26px;

  margin-right: 60px;

  transition: fill 150ms linear;

  @media screen and (min-width: 640px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;

    margin-right: 40px;
  }

  &:hover {
    fill: #221c1c;
  }
}

.basket,
.menuBtn,
.logo {
  z-index: 5;
  cursor: pointer;
}

.menuBtn,
.basket {
  transition: transform 150ms linear;
  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 1024px) {
    &:hover {
      transform: scale(1.3);
    }
  }
}
