.nav {
  display: flex;
  padding: 25px 5px;
  justify-content: space-between;
  align-items: center;
}

.navBtnGroup {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: -5px;

  width: 36px;
  height: 36px;

  @media screen and (min-width: 1024px) {
    margin-top: -15px;

    width: 60px;
    height: 60px;
  }
}

.menuBtn,
.logo {
  z-index: 5;
  cursor: pointer;
}

.menuBtn {
  transition: transform 150ms linear;
  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 1024px) {
    &:hover {
      transform: scale(1.3);
    }
  }
}
